In [22]:
import pandas as pd
import streamlit as st

In [24]:
df = load_data()
df.head()

                                       file  branch store    store name
date
2020-08-07 12:00:00  NULLPromo7290526500006             4  salachdabach
2020-06-22 00:10:00  PriceFull7290526500006             4  salachdabach
2020-06-22 00:10:00  PromoFull7290526500006             4  salachdabach
2020-06-19 09:00:00      Price7290526500006             4  salachdabach
2020-06-18 09:00:00      Price7290526500006            13  salachdabach

In [25]:
#df.groupby("store name")['branch store'].count().values

In [26]:
updates = df.groupby(["store name",'date'])['branch store'].count()#.plot()
updates

store name  date
doralon     2019-09-05 08:16:00     1
            2020-01-29 16:17:00     1
            2020-01-29 16:19:00     1
            2020-01-30 00:10:00     1
            2020-01-30 00:12:00     1
                                   ..
yohananof   2020-07-22 22:00:00    25
            2020-07-22 23:00:00    31
            2020-07-23 00:10:00    41
            2020-07-23 00:11:00    11
            2020-07-23 00:30:00     2
Name: branch store, Length: 5788, dtype: int64

      branch store
0                1
1                1
2                1
3                1
4                1
...            ...
5783            25
5784            31
5785            41
5786            11
5787             2

[5788 rows x 1 columns]

In [38]:
import pandas as pd
import numpy as np

st.title('Files collected')



data_load_state = st.text('Loading data...')
df = load_data()
updates = df.groupby(["store name",'date'])['branch store'].count()#.plot()
data_load_state.text("Done! (using st.cache)")

st.subheader('Number of pickups by hour')
st.line_chart(updates.reset_index()[['branch store']])


# Some number in the range 0-23
# hour_to_filter = st.slider('hour', 0, 23, 17)
# filtered_data = data[data[DATE_COLUMN].dt.hour == hour_to_filter]

# st.subheader('Map of all pickups at %s:00' % hour_to_filter)
# st.map(filtered_data)